USE [Fingerprint]
GO
/****** Object:  Table [dbo].[FingerPrint]    Script Date: 11/12/2023 6:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FingerPrint](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[regno] [nvarchar](15) NULL,
	[image1] [varbinary](max) NULL,
	[image2] [varbinary](max) NULL,
	[name] [nvarchar](150) NULL,
	[ppno] [nvarchar](100) NULL,
	[entrydate] [datetime] NULL,
	[registration] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FingerPrint] ON 

SET IDENTITY_INSERT [dbo].[FingerPrint] OFF
GO
ALTER TABLE [dbo].[FingerPrint] ADD  CONSTRAINT [DF_FingerPrint_registration]  DEFAULT ((0)) FOR [registration]
GO
